#contenedor{
text-align: left;
width: 1050px;/*Originalmente 1050px*/
margin: auto;}

#lateral{
width: 250px;  /*Este será el ancho que tendrá tu columna*/
height: 300px; /*Alto de la columna*/
background-color: #DCDCDC;  /*Aquí pon el color del fondo que quieras para este lateral*/
float:left; /*Aqui determinas de lado quieres quede esta "columna" */
}

#principal{
margin-left:300px; /*Margen para no encimar contenido, es importante que pongas un pocos pixeles más que el ancho  de tu columna lateral, antes = 280*/
margin-right:50px; /*Margen pero de la derecha*/
background-color: #FFFFFF;
border:#DCDCDC 0px solid; /*ponemos un dorde para que se vea bonito*/
color:#696969;
}

h3{
color:#4682B4;
}

hr {
color: #1E90FF;
background-color: #FFFFFF;
/*#1E90FF;*/
height: 1px;
width: 80%;
border: 0;
margin: 10px auto;
text-align: center;
}

